.button {
    -fx-text-fill:white;
    -fx-font-family:"Arial Narrow";
    -fx-font-weight:bold;
    -fx-background-color:linear-gradient(#61a2b1,#2A5058);
}

.table-view {
	-fx-background-color: transparent;
}

.table-view:focused {
	-fx-background-color: transparent;
}
/*
.table-row-cell:odd {
	-fx-background-color: #8A8A8A;
} */

.textarea {
	-fx-text-fill:red;
}

.tree-view {
	-fx-background-color: transparent;
}

.tree.item {
	-fx-background-color: red;
}

.label {
	-fx-font-size: 16;
}